# Backend Configuration
PORT=4000

# Hostinger FTP (opcional - para envio automático de imagens)
FTP_HOST=62.72.62.191
FTP_USER=u876547810.mediumaquamarine-barracuda-131448.hostingersite.com
FTP_PASSWORD=J~RyyPm8tm=*=:3h
FTP_PORT=21
FTP_UPLOAD_PATH=/public_html/uploads

# URL do domínio da Hostinger (para retornar URLs corretas das imagens)
PUBLIC_URL=https://seu-dominio-aqui.com
